body{
    background: #efefef center top no-repeat;
    clear: both;
    margin: 0 auto;
    width: 100%;
    min-width: 960px;
    overflow: scroll;
    background-attachment: fixed
}
ul{
    border: none;
    margin-left: 79px;
    margin-top: 113px;
}
ul li{
    border: none;
    list-style-type: none;
    line-height: 36px;
}
.main{
    float: left;
    position: absolute;
    width: 1440px;
    height: 900px;
}
.top {
    float: left;
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 86px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px 0px
    rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.swen-news {
    float: left;
    margin-left: 123px;
    margin-top: 21px;
    cursor: pointer;
}
.newest{
    background: url("../images/selectedBg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 112px;
    padding-left: 15px;
    height: 54px;
    float: left;
    font-size: 24px;
    position: absolute;
    margin-left: 85px;
    padding-top: 32px;
    margin-top: 0px;
    cursor:pointer;
}
.hot{
    background-repeat: no-repeat;
    background-position: bottom;
    width: 112px;
    padding-left: 15px;
    height: 54px;
    float: left;
    font-size: 24px;;
    position: absolute;
    margin-left: 213px;
    padding-top: 32px;
    margin-top: 0px;
    cursor: pointer;
}
.tagged{
    background-repeat: no-repeat;
    background-position: bottom;
    width: 112px;
    padding-left: 15px;
    height: 54px;
    float: left;
    font-size: 24px;;
    position: absolute;
    margin-left: 339px;
    padding-top: 32px;
    margin-top: 0px;
    cursor: pointer;
}

.user{
    float: left;
    position: absolute;
    margin-left: 969px;
    margin-top: 28px;
    cursor: pointer;
}
.new{
    z-index: 9999;
    position: fixed;
    right: 101px;
    bottom: 66px;
    cursor: pointer;
    /*margin-left: 1269px;*/
    /*margin-top: 678px;*/
}
.main_in_main{
    margin-top: 0px;
}
.main_block{
    position: relative;
    border: none;
    margin-top: 36px;
    width: 1209px;
    height: 356px;
    box-shadow: 0px 3px 5px 0px
    rgba(0, 0, 0, 0.1);
}
div.panel{
    display:none;
    float:left ;
    width: 120px;
    height:160px;
    background:#ffffff;
    border:solid 1px #c3c3c3;
    position: relative;
    margin-top: 20px;
    margin-left:1245px ;
    z-index: 15;
}
.me{
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
    font-size: 20px;;
    cursor: pointer;
}
.my_news{
    position: absolute;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 20px;;
    cursor: pointer;
}
.exit{
    position: absolute;
    margin-top: 0px;
    margin-left: -100px;
    font-size: 20px;;
    cursor: pointer;
}
.create_ul{
    margin-left: 0px;
}
.create_title{
    margin-top: -50px;
    margin-left: 180px;
    width: 300px;
    height: 34px;
    font-family: SourceHanSansCN-Normal;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #000000;
}
.create_news{
    z-index: 9998;
    background-color: #ffffff;
    box-shadow: 0px 8px 37px 2px
    rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: solid 1px #ccc;
    position: absolute;
    width: 754px;
    height: 810px;
    padding: 5px;
    top: -900px;
    left: 300px;
}
.shelter{
    background-color: #454545;
    opacity: 0.5;
    display: none;
    z-index: 9997;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
input::-webkit-input-placeholder{
    color: #cfcfcf;
}
.tag_text{
    color: #cfcfcf;
}
.tag{
    margin-top: 20px;
    padding-left: 10px;
    width: 642px;
    height: 43px;
    border-radius: 6px;
    border: solid 2px #efefef;
}
.news_title{
    margin-top: 81px;
    width: 642px;
    height: 43px;
    border-radius: 6px;
    border: solid 2px #efefef;
    color:#333333;
    padding-left: 10px;
    font-size: 18px;
}
.news_content{
    margin-top: 36px;
    width: 642px;
    height: 437px;
    border-radius: 6px;
    border: solid 2px #efefef;
    padding: 5px;
    font-size: 16px;
}
